<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (planConfig(); as planConfigRef) {
      <div>
        <h2 data-cy="planConfigDetailsHeading"><span jhiTranslate="monitoringApp.planConfig.detail.title">Plan Config</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ planConfigRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="monitoringApp.planConfig.price">Price</span></dt>
          <dd>
            <span>{{ planConfigRef.price }}</span>
          </dd>
          <dt><span jhiTranslate="monitoringApp.planConfig.attempts">Attempts</span></dt>
          <dd>
            <span>{{ planConfigRef.attempts }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/plan-config', planConfigRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
