<div>
  <h2 id="page-heading" data-cy="BankCardHeading">
    <span jhiTranslate="monitoringApp.bankCard.home.title">Bank Cards</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="monitoringApp.bankCard.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-bank-card"
        [routerLink]="['/bank-card/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="monitoringApp.bankCard.home.createLabel">Create a new Bank Card</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (bankCards?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="monitoringApp.bankCard.home.notFound">No Bank Cards found</span>
    </div>
  }

  @if (bankCards && bankCards.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="monitoringApp.bankCard.id">Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="cardCode">
              <div class="d-flex">
                <span jhiTranslate="monitoringApp.bankCard.cardCode">Card Code</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="firstName">
              <div class="d-flex">
                <span jhiTranslate="monitoringApp.bankCard.firstName">First Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="lastName">
              <div class="d-flex">
                <span jhiTranslate="monitoringApp.bankCard.lastName">Last Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="cvv">
              <div class="d-flex">
                <span jhiTranslate="monitoringApp.bankCard.cvv">Cvv</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (bankCard of bankCards; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/bank-card', bankCard.id, 'view']">{{ bankCard.id }}</a>
              </td>
              <td>{{ bankCard.cardCode }}</td>
              <td>{{ bankCard.firstName }}</td>
              <td>{{ bankCard.lastName }}</td>
              <td>{{ bankCard.cvv }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/bank-card', bankCard.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/bank-card', bankCard.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(bankCard)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
