<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-plan-config-heading"
        data-cy="PlanConfigCreateUpdateHeading"
        jhiTranslate="monitoringApp.planConfig.home.createOrEditLabel"
      >
        Create or edit a Plan Config
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="monitoringApp.planConfig.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }
        @if (editForm.controls.planType.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_plan_type">PlanType</label>
            <input
              type="text"
              class="form-control"
              name="planType"
              id="field_plan_type"
              data-cy="planType"
              formControlName="planType"
              [readonly]="true"
            />
          </div>
        }
        @let priceRef = editForm.get('price')!;
        <div class="mb-3">
          <label class="form-label" for="field_price" jhiTranslate="monitoringApp.planConfig.price">Price</label>
          <input type="number" class="form-control" name="price" id="field_price" data-cy="price" formControlName="price" />
          @if (priceRef.invalid && (priceRef.dirty || priceRef.touched)) {
            <div>
              @if (editForm.get('price')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small class="form-text text-danger" [hidden]="!editForm.get('price')?.errors?.number" jhiTranslate="entity.validation.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        @let attemptsRef = editForm.get('attempts')!;
        <div class="mb-3">
          <label class="form-label" for="field_attempts" jhiTranslate="monitoringApp.planConfig.attempts">Attempts</label>
          <input type="number" class="form-control" name="attempts" id="field_attempts" data-cy="attempts" formControlName="attempts" />
          @if (attemptsRef.invalid && (attemptsRef.dirty || attemptsRef.touched)) {
            <div>
              @if (editForm.get('attempts')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('attempts')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
